/*
 * blog.scss
 */

html, body {
    background: #fff;
}

h1 {
    &.blog-title {
        letter-spacing: 6px;
        margin: 40px auto 50px;
    }
}

.nav {
    text-align: center;

    li {
        a {
            color: #61554b;
        }
    }
}

.logo-full {
    margin: 40px auto 0;
    text-align: center;

    img {
        margin: 0 auto;
    }
}

.posted-on time + time {
    display: none;
}

.entry-header {
    margin-bottom: 1rem;
}

.entry-title {
    a {
        color: #61554b;

        &:hover {
            color: #cea052;
        }
    }
}

.comments-area {
    margin-top: 2rem;
    .comment-respond {
        margin-top: 2rem;
    }
}

.btn-primary {
    color: #61554b;
    border-color: #ced4da;
    background: transparent;
    &:hover {
        color: #fff;
        border-color: #cea052;
        background: #cea052;
    }
}

.btn-secondary {
    color: #61554b;
    border-color: #ced4da;
    background: transparent;
    &:hover {
        color: #fff;
        border-color: #cea052;
        background: #cea052;
    }
}

@media only screen and (min-width: 772px) {
    nav.menu {
        width: 33%;
    }
}

