/*
 * pastorale.scss
 */

// Variables
//@import "variables";

// Bourbon
//@import "../../../node_modules/bourbon/core/bourbon";
//
//// Font awesome
//@import "../../../node_modules/font-awesome/scss/font-awesome";
//
//// Bootstrap
//@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
//@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Hamburgers
//$hamburger-padding-x: 15px;
//$hamburger-padding-y: 15px;
$hamburger-layer-width: 30px;
$hamburger-layer-height: 3px;
$hamburger-layer-spacing: 5px;
$hamburger-layer-color: #61554b;
$hamburger-hover-opacity: 1;

@import "../node_modules/hamburgers/_sass/hamburgers/hamburgers";

// Outdatedbrowser
//@import "outdatedbrowser";
//
//@import "custom";

// Fonts
@font-face {
    font-family: 'aquilone-bold';
    src: url('../fonts/pastorale/aquilone-bold-webfont.woff2') format('woff2'),
    url('../fonts/pastorale/aquilone-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'averta-light-italic';
    src: url('../fonts/pastorale/averta-lightitalic-webfont.woff2') format('woff2'),
    url('../fonts/pastorale/averta-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'averta-regular';
    src: url('../fonts/pastorale/averta-regular-webfont.woff2') format('woff2'),
    url('../fonts/pastorale/averta-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gt-sectra-book';
    src: url('../fonts/pastorale/gtsectra-book-webfont.woff2') format('woff2'),
    url('../fonts/pastorale/gtsectra-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gt-sectra-medium';
    src: url('../fonts/pastorale/gtsectra-medium-webfont.woff2') format('woff2'),
    url('../fonts/pastorale/gtsectra-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'oakes-light';
    src: url('../fonts/pastorale/oakes-light-webfont.woff2') format('woff2'),
    url('../fonts/pastorale/oakes-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

// Project colors
$white: #fafafa;
$white-text: #f1f1f1;
$white-transparent: rgba(255, 255, 255, 0.5);
$black: #111;
$black-text: #555;
$black-transparent: rgba(0, 0, 0, 0.5);

// General
html, body {
    color: #61554b;
}

h1 {
    font-family: "aquilone-bold";
    font-size: 30px;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 2px;
}

h2 {
    font-family: "aquilone-bold";
    font-size: 24px;
    letter-spacing: 2px;
}

h3 {
    font-family: "aquilone-bold";
    font-size: 18px;
    letter-spacing: 1px;
    //margin-bottom: 15px;
}

h4 {
    font-family: "gt-sectra-medium";
    font-size: 12px;
    letter-spacing: 1px;
    margin-bottom: 4px;
}

h5 {
    font-family: "gt-sectra-book";
    font-size: 10px;
    font-style: italic;
    letter-spacing: 1px;
}

p {
    //font-size: 10px;
    //letter-spacing: 1px;
    //margin-bottom: 10px;
    //font-style: italic;
}

table {
    font-family: "oakes-light";
    font-size: 10px;
    letter-spacing: 1px;
    margin-bottom: 10px;
    font-style: italic;

    td {
        vertical-align: top;
    }
}

hr {
    width: 10%;
    margin-top: 42px;
    margin-bottom: 42px;
}

button {
    border-radius: 0;
}

form {
    margin-bottom: 30px;
}

a {
    color: #cea052;

    &:hover,
    &:focus,
    &:active {
        color: #61554b;
        text-decoration: none;
    }

    &.blog-title {
        color: #61554b;
        &:hover {
            color: #cea052;
        }
    }
}

.print-menu {
    position: absolute;
    bottom: 12px;
    right: 15px;

    a {
        color: #61554b;

        &:hover {
            color: #cea052;
        }
    }
}

.modal {
    form {
        margin-bottom: 0;
    }

    .modal-title {
        line-height: 1;
    }
}

.no-padding {
    padding: 0;
}

.padding-75 {
    padding-top: 75px;
}

.header {
    min-height: 0;
}

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $white-transparent;
    z-index: 1;
    cursor: pointer;
}

.overlay-address,
.overlay-notify {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);

    h1 {
        height: 0px;
        margin: 0;
        color: transparent;
    }

    p {
        font-family: "gt-sectra-book";
        font-size: 16px;
        letter-spacing: 1px;
        color: #cea052;
        font-style: normal;
        margin: 0;

        a:hover {
            color: #cea052;
            border-bottom: 1px solid #cea052;
        }
    }
}

.overlay-notify {
    bottom: 45px;
}

.container-fluid {
    max-width: 1440px;
}

// Menu
button.navigation {
    z-index: 3;
    position: absolute;
    top: 0;
    right: 0;

    &:focus {
        outline: none;
    }
}

nav.menu {
    z-index: -1;
    position: absolute !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 50%; // 100%
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    background: #efeeed;
    border-radius: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    visibility: hidden;
    margin-bottom: 0;

    &.toggled {
        z-index: 3;
        visibility: visible;
    }

    .nav {
        display: block;
        li {
            margin: 12px 0;
            position: relative;
            display: block;

            a {
                position: relative;
                display: block;
                font-family: "aquilone-bold";
                font-size: 18px;
                letter-spacing: 3px;
                padding: 0;

                &.highlight {
                    color: #cea052;
                }

                &:hover {
                    color: #cea052;
                }
            }

            &.active a {
                color: #cea052;
            }
        }
    }

    .line-small {
        flex: none;
        display: block;
        margin: 26px auto;
        height: 1px;
        width: 30px;
        background: #61554b; /* Old browsers */
        background: -moz-linear-gradient(left, #efeeed 0%, #61554b 20%, #61554b 80%, #efeeed 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, #efeeed 0%, #61554b 20%, #61554b 80%, #efeeed 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, #efeeed 0%, #61554b 20%, #61554b 80%, #efeeed 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#efeeed', endColorstr='#efeeed', GradientType=1); /* IE6-9 */
    }

    .jobs {
        text-align: center;

        ul {
            li {
                margin: 0;

                a {
                    font-family: "aquilone-bold";
                    font-size: 18px;
                    letter-spacing: 3px;
                    padding: 0;
                    color: #61554b;

                    &:hover {
                        color: #cea052;
                    }
                }

                &.active a {
                    color: #cea052;
                }
            }
        }
    }
}

// Language
.language {
    //margin: 10px 0 18px;

    ul {
        text-align: center;
        margin-left: 0;

        li {
            &.active a {
                color: #cea052;
            }

            a {
                font-family: "oakes-light";
                font-size: 12px;
                letter-spacing: 1px;
                padding: 0;
                color: #61554b;
                text-decoration: none;
                text-transform: uppercase;

                &:hover, &:focus {
                    color: #cea052;
                }
            }
        }
    }
}

//// Logo
.logo-krul {
    display: block;
    width: 85px;
    height: 75px;
    margin: 0 auto;
    background: url(../img/krul-logo-orange.png) no-repeat center center;
    text-indent: -9999px;
}

// Social
.social {
    position: absolute;
    z-index: 1;
    top: 8px;
    left: 13px;

    .facebook, .instagram {
        float: left;
        margin: 6px;

        a {
            color: $black-text;

            &:hover {
                color: #cea052;
            }
        }
    }
}

// Content
.content {
    margin-top: 55px;
    margin-bottom: 0;
    padding: 0;
    //-webkit-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.5);
    //-moz-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.5);

    nav.menu {
        max-height: 650px;
    }

    .content-left {
        position: relative;
        min-height: 650px;
        background: #efeeed;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .content-right {
        position: relative;
        min-height: 650px;
        background: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .line-small {
        flex: none;
        display: block;
        margin: 26px auto;
        height: 1px;
        width: 30px;
        background: #61554b; /* Old browsers */
        background: -moz-linear-gradient(left, #ffffff 0%, #61554b 20%, #61554b 80%, #ffffff 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, #ffffff 0%, #61554b 20%, #61554b 80%, #ffffff 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, #ffffff 0%, #61554b 20%, #61554b 80%, #ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1); /* IE6-9 */

        &.extra {
            margin: 36px auto 22px !important;
        }
    }

    ul {
        margin: 0;
        padding: 0;
        text-align: center;

        &.menu-small {
            li {
                margin: 12px 0;

                a {
                    font-family: "aquilone-bold";
                    font-size: 18px;
                    letter-spacing: 3px;

                    &.highlight {
                        color: #cea052;
                    }

                    &:hover {
                        color: #cea052;
                    }
                }
            }
        }

        li {
            list-style-type: none;

            a {
                color: #61554b;

                &:hover,
                &:active,
                &:focus {
                    text-decoration: none;
                }
            }
        }
    }
}

.copyright {
    padding-left: 2px;
    margin-top: 8px;
    margin-bottom: 20px;
    color: #efeeed;

    p {
        font-style: normal;
        font-size: 11px;
    }

    a {
        margin-left: 1px;
        font-size: 13px;
        color: #efeeed;

        &:hover {
            color: #fff;
            background-color: #cea052;
        }

        &:focus {
            color: #efeeed;
            background-color: transparent;
        }

        &.facebook {
            display: inline-block;
            width: 24px;
            height: 24px;
            border-radius: 10px;
            text-align: center;
            padding-top: 2px;
            padding-left: 1px;
            margin-left: 0;
        }

        &.instagram {
            display: inline-block;
            width: 24px;
            height: 24px;
            border-radius: 10px;
            text-align: center;
            padding-top: 2px;
            padding-left: 1px;
            margin-right: 10px;
        }
    }
}


// Admin
.admin {
    .manage {
        position: absolute;
        top: 5px;
        right: 30px;

        .separator {
            display: inline-block;
            margin-right: 9px;
            border-right: 1px solid #e1e1e1;
        }

        a {
            margin-right: 5px;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .panel-default > .panel-heading {
        position: relative;
        background-color: $white-text;
        min-height: 38px;

        .manage {
            top: 7px;
            right: 15px;
        }
    }

    .size-select-group {
        margin-bottom: 10px;

        .size-select {
            display: inline;
            margin-right: 10px;

            input[type="radio"] {
                display: none;

                & + label {
                    border: 2px solid #fff;
                    border-radius: 2px;
                    cursor: pointer;
                }
            }

            input[type="radio"]:checked + label {
                border: 2px solid #aaa;
                background-color: #aaa;
            }
        }
    }

    .size-define {
        p {
            line-height: 37px;
            height: 37px;
            margin: 0;
        }

        &.x-small p {
            line-height: 20px;
            height: 20px;
            margin: 0;
        }

        &.large p {
            line-height: 44px;
            height: 44px;
            margin: 0;
        }
    }
}

@media only screen and (max-width: 771px) {
    // General
    html, body {
        background: url(../img/homepage-background.jpg) repeat center center;
        background-size: unset;
        height: 100%;
    }

    nav.menu {
        display: block;
        justify-content: start;
        padding-top: 29px;
        padding-bottom: 29px;
        width: 100%;
        max-height: max-content;
    }

    // Content
    .content {
        margin: 20px 15px;

        .content-left {
            min-height: unset;
            padding-top: 30px;
            padding-bottom: 30px;
        }

        .content-right {
            padding: 40px !important;
        }

        nav.menu {
            max-height: fit-content;
        }
    }

    .copyright {
        text-align: center;
        margin-bottom: 70px;
        margin-left: 15px;
        margin-right: 15px;
    }

    .overlay-notify {
        bottom: 50px;

        p {
            font-family: "oakes-light";
            font-size: 14px;
            margin: 0 0 14px;
            line-height: 1.5em;
        }

        &.white-message {
            text-align: left;
            padding: 20px 15px;

            p {
                color: $white-text;
                line-height: 1.5em;
            }
        }
    }
}

@media only screen and (max-width: 510px) {
    .pricing {
        td {
            //display: inline !important;
            padding: 0 !important;

            &.border {
                display: inherit !important;
            }
        }
    }

    .enter-website {
        top: 25px;
        right: 12px;
    }

    .overlay-address {
        p {
            font-size: 13px;
        }
    }

    #notify-gold {
        background: rgba(0, 0, 0, 0.5);
    }

    .overlay-notify {
        &.white-message {
            p {
                line-height: 1em;
            }
        }
    }
}

@media only screen and (min-width: 992px) and (max-width: 1269px) {
    .pricing {
        td {
            //display: inline !important;
            padding: 0 !important;

            &.border {
                display: inherit !important;
            }
        }
    }
}




